.bg-video{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: .15;

    &__content{
        height: 100%;
        width: 100%;
//Cover the video, fill the entire width while still maintaining aspect ratio
        -o-object-fit: cover;
           object-fit: cover;
    }
}